In [152]:
import pandas as pd
import math
import matplotlib.pyplot as plt
import seaborn as sns
from pytrends.request import TrendReq

pytrends = TrendReq(hl='en-US', tz=360, timeout=(10,25), retries=2, backoff_factor=0.1)

# Memo: DMA Codes - https://help-ooyala.brightcove.com/video-platform/reference/dma_codes.html

In [153]:
normalized_kw = ['dealerships']
kw_master_list = ['kelly blue book','carvana','truecar','autotrader','carfax','dealerships near me']
timeframe = ['2019-03-01 2019-11-25','2019-07-15 2020-03-30']
geo = 'US-CA-803'

In [154]:
# Initialize master_df with normalized_kw search
pytrends.build_payload(normalized_kw, timeframe=timeframe[0], geo=geo)
master_df1 = pytrends.interest_over_time()   

for i in range(0,math.ceil(len(kw_master_list)/4)):
    # Break search into 4 keywords + normalized kw
    kw_list = []
    kw_list.append(normalized_kw[0])
    for k in range(0,4):
        try:
            kw_list.append(kw_master_list[k + 4*i])
        except:
            continue

    # Append results to master_df
    pytrends.build_payload(kw_list, timeframe=timeframe[0], geo=geo)
    df = pytrends.interest_over_time()
    master_df1 = pd.concat([master_df1, df], axis=1)

# Remove duplicate columns
master_df1 = master_df1.loc[:,~master_df1.columns.duplicated()]
master_df1.drop('isPartial', axis=1, inplace=True)
master_df1.head()

,dealerships,kelly blue book,carvana,truecar,autotrader,carfax,dealerships near me
date,,,,,,,
2019-03-01,50,13,32,12,67,30,10
2019-03-02,40,20,32,22,79,32,15
2019-03-03,50,19,26,23,68,42,12
2019-03-04,37,22,9,15,56,27,10
2019-03-05,37,24,31,10,50,42,13

In [155]:
# Initialize master_df with normalized_kw search
pytrends.build_payload(normalized_kw, timeframe=timeframe[1], geo=geo)
master_df2 = pytrends.interest_over_time()   

for i in range(0,math.ceil(len(kw_master_list)/4)):
    # Break search into 4 keywords + normalized kw
    kw_list = []
    kw_list.append(normalized_kw[0])
    for k in range(0,4):
        try:
            kw_list.append(kw_master_list[k + 4*i])
        except:
            continue

    # Append results to master_df
    pytrends.build_payload(kw_list, timeframe=timeframe[1], geo=geo)
    df = pytrends.interest_over_time()
    master_df2 = pd.concat([master_df2, df], axis=1)

# Remove duplicate columns
master_df2 = master_df2.loc[:,~master_df2.columns.duplicated()]
master_df2.drop('isPartial', axis=1, inplace=True)
master_df2.head()

,dealerships,kelly blue book,carvana,truecar,autotrader,carfax,dealerships near me
date,,,,,,,
2019-07-15,48,42,28,23,63,34,21
2019-07-16,54,30,32,9,49,46,18
2019-07-17,60,29,29,21,52,31,15
2019-07-18,59,44,27,17,52,32,19
2019-07-19,59,42,26,15,47,18,15

In [158]:
combined_df = pd.concat([master_df1, master_df2], axis=1)
combined_df.to_excel('combined_df.xlsx')